html,
body {
    padding: 0;
    margin: 0;
    
}

body {
    background-color: White;
}

/* div {
    background-color: grey;
} */

p {
    color: white;
    text-align: center;
}
header{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.menu {
 /* align-items: flex-end; */
  
    width: 50%;
    height: 100px;
    background-color: dimgrey;
}

.logo {
    /* align-items: flex-end; */
    
    width: 300px;
    height: 100px;
    background-color: dimgrey;
    
}

.info {
  
    height: 50px;
    margin-bottom: 20px;
    background-color: dimgrey;
   
}


.container{
    display:flex;
    background: floralwhite;
    /* flex-direction: column; */
  
}

.first_sect{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width:700px;
    border:1px solid black;
    margin: 15px;
    background-color: dimgrey;
}

.second_sect{
    display: flex;
    /* flex-direction:column;  */
    /* flex-wrap:wrap; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width:300px;
    border:1px solid black;
    margin: 15px;
    background-color: dimgrey;
}
.third_sect{
    display: flex;
    /* flex-direction:column;  */
    /* flex-wrap:wrap; */
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    height:400px;
    width:400px;
    border:1px solid black;
    margin: 15px;
    background-color: dimgrey;
}
.wrap1{

   
}
.wrap2{
  
}
.wrap3{
    
}



.footer{
    height: 50px;
    background: #666;
    color: #fff;
    text-align: center;
  }