html,
body {
    padding: 0;
    margin: 0;
}

p {
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    align-items: center;
    width: 50%;
    height: 100px;
    background-color: dimgrey;
    margin: 5px;
}

.logo {

    width: 300px;
    height: 100px;
    background-color: dimgrey;
    margin: 5px;
}

nav {
    height: 50px;
    margin-bottom: 20px;
    margin: 5px;
    background-color: dimgrey;
}

.container {
    display: flex;
    background: floralwhite;
    height: 700px;
}

.first_sect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 5px;
    background-color: dimgrey;
}

.second_sect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    margin: 5px;
    background-color: dimgrey;
}

.third_sect {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 399px;
    margin: 5px;
    background-color: dimgrey;
}

.wrap1 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.first_block {
    height: 20%;
}

.second_block {
    height: 30%;
}

.third_block {
    height: 45%;
}

.wrap2 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fourth_block {
    height: 30%;
}

.fifth_block {
    height: 66%;
}

.wrap3 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.six_block {
    height: 20%;
}

.seventh_block {
    height: 30%;
}

.eight_block {
    height: 45%;
}

.footer {
    height: 50px;
    background: #666;
    color: #fff;
    text-align: center;
    margin: 5px;
}